@import url('https://fonts.googleapis.com/css2?family=Delius&family=Roboto+Condensed:wght@700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Delius', cursive;
    max-width: 100%;
}

:root{
    --transparente-color: #f5f5f51e;
    --white-color: #fff;
    --gray-color: #D1D1D1;
}

.body_index{
    background-image: url(../img/WhatsApp\ Image\ 2022-03-04\ at\ 02.22.36.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.index{
    width: 100%;
    position: absolute;
    top: -12rem;
}

/*.index:hover{
    filter: blur(5px);
}*/

.box_with_text{
    background-color: var(--transparente-color);
    backdrop-filter: blur(10px);
    width: 420px;
    height: 453px;
    border-radius: 36px;
    position: absolute;
    top: 8%;
    left: 67%;
}

.title_box {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1rem;
    color: var(--white-color);
    text-align: center;
}

.text_box{
    color: var(--gray-color);
    text-align: justify;
    padding: 0 1.5rem 1rem 1.5rem;
    font-size: 1.5rem;
}

.button_box{
    position: absolute;
    top: 85%;
    left: 80%;
    background-color: var(--transparente-color);
    border-style: none;
    width: 70px;
    height: 70px;
    border-radius: 86px;
    text-decoration: none;
    backdrop-filter: blur(10px);
}

.button_box:hover {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}
.button_box{
    overflow:hidden;
}

svg {
    width: 2.5em;
    height: 2.5em;
}

.button_box1{
    text-decoration: none;
    text-transform: none;
    position: absolute;
    top:85%;
    left: 4%;
    background-color: var(--transparente-color);
    border-style: none;
    width: 150px;
    height: 65px;
    border-radius: 30px;
    color: var(--white-color);
    backdrop-filter: blur(10px);
}

.button_box1:hover {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}

/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */

body .galery{
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    padding-top: 10%;
}

.titulo {
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 7px;
    text-shadow: 0px 2px 2px rgb(27, 27, 27);
}

.galeria img {
    box-shadow: 0 8px 10px -4px rgba(0,0,0,.6);
    border-radius: 15px;
    cursor: pointer;
}

.materialbox-caption {
    bottom: 30px;
    right: 0;
    width: 40%;
    height: auto;
    padding: 10px;
    margin: auto;
    background: #000;
    box-shadow: 5px 5px #fff;
    font-size: 20px;
    color: #fff;
    line-height: 28px;
}

.galeria .col {
    margin-bottom: 20px;
}

.titulo{
    color: var(--gray-color);
}

@media screen and (max-width: 600px){
    .materialbox-caption {
         width: 90%;
    }
}

@media screen and (max-width: 992px){
    .materialbox-caption {
         width: 70%;
    }
}

.content_contents{
    background-image: url(http://3.bp.blogspot.com/-pCaeUP_TP2c/T07JygImFKI/AAAAAAAA0cA/EuxNZA8ghTI/s1600/%255BCommie%255D+Hotarubi+no+Mori+e+%255BBD+1080p+AAC%255D+%255B52244604%255D.mkv_snapshot_03.02_%255B2012.02.29_15.20.03%255D.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    overflow: scroll;
}

h1, h2, h3{
    color: var(--white-color);
}

p{
    color: var(--gray-color);
}

#container_content{
    text-align: justify;
    font-weight: 100px;
}

.title_content{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

.description_content{
    width: 40%;
    backdrop-filter: blur(60px);
    margin: 5% 3.7%;
    padding: 3% 5%;
    border: 1px solid rgba(36, 36, 36, 0.056);
    border-radius: 1rem;
}

.image_content{
    width: 100%;
    padding-top: 9%;
}

.subtitle_appearance{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

.appearance_content{
    width: 40%;
    backdrop-filter: blur(60px);
    float: right;
    margin: -19% 3.7%;
    padding: 3% 5%;
    border: 1px solid rgba(36, 36, 36, 0.056);
    border-radius: 1rem;
}

.image_appearance{
    width: 100%;
    padding-top: 9%;
}

.subtitle_personality{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

.personality_content{
    width: 40%;
    backdrop-filter: blur(60px);
    margin: 10% 8%;
    padding: 3% 5%;
    border: 1px solid rgba(36, 36, 36, 0.056);
    border-radius: 1rem;
}

.image_personality{
    width: 100%;
    padding-top: 9%;
}

.subtitle_history{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

.history_content{
    width: 40%;
    backdrop-filter: blur(60px);
    float: right;
    margin: -13% 7%;
    padding: 3% 5%;
    border: 1px solid rgba(36, 36, 36, 0.056);
    border-radius: 1rem;
}

.image_history_left{
    float: right;
    padding-top: 19%;
}

.image_history{
    width: 100%;
    padding-top: 9%;
}

.subtitle_plot{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

.plot_content{
    width: 40%;
    backdrop-filter: blur(60px);
    margin: 35% 3.7%;
    padding: 3% 5%;
    border: 1px solid rgba(36, 36, 36, 0.056);
    border-radius: 1rem;
}

.image_plot{
    width: 100%;
    padding-top: 9%;
}

.subtitle_plot{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

.plot_content_one{
    width: 40%;
    backdrop-filter: blur(60px);
    float: right;
    margin: -39% 8%;
    padding: 3% 5%;
    border: 1px solid rgba(36, 36, 36, 0.056);
    border-radius: 1rem;
}

.image_plot{
    width: 100%;
    padding-top: 9%;
}

.subtitle_plot{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}


.plot_content_two{
    width: 40%;
    backdrop-filter: blur(60px);
    margin: -10% 7%;
    padding: 3% 5%;
    border: 1px solid rgba(36, 36, 36, 0.056);
    border-radius: 1rem;
}

.image_plot{
    width: 100%;
    padding-top: 9%;
}

.subtitle_plot{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

.plot_content_three{
    width: 40%;
    backdrop-filter: blur(60px);
    float: right;
    margin: 5% 6%;
    padding: 3% 5%;
    border: 1px solid rgba(36, 36, 36, 0.056);
    border-radius: 1rem;
}

.image_plot{
    width: 100%;
    padding-top: 9%;
}


.subtitle_skills{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

.skills_content{
    width: 40%;
    backdrop-filter: blur(60px);
    margin: 48% 0 5% 3%;
    padding: 3% 5%;
    border: 1px solid rgba(36, 36, 36, 0.056);
    border-radius: 1rem;
}

.image_skills{
    width: 100%;
}